@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
    background: black;
    color: white;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid white;
  border-color: white transparent white transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.layout-content {
  height: calc(100vh - 4rem);
}

.header {
  grid-area: header;
}

.red {
  border: 1px red  solid;
}

.green {
  border: 1px green  solid;
}

.main {
  grid-area: main;
  max-width: 80rem;
}

.layout {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: 50px auto;
  grid-template-areas:
  "header header header"
  "left main right"
}

.blink {
  animation: blinker 3s linear infinite;
  border-radius: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@keyframes blinker {
  0% {
    background-color: red;
    color: green;
    transform: rotate(0deg);
  }
  25% {
    background-color: yellow;
    color: purple;
  }
  50% {
    background-color: violet;
    color: lime;
  }
  75% {
    background-color: orange;
    color: blue;
  }
  100% {
    background-color: red;
    color: green;
    transform: rotate(360deg);
  }
}


.blink2 {
  animation: blinker2 3s linear infinite;
  border-radius: 0%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@keyframes blinker2  {
  10% {
    background-color: blue;
    color: yellow;
  }
  25% {
    background-color: red;
    color: green;
  }
  50% {
    background-color: yellow;
    color: purple;
  }
  75% {
    background-color: violet;
    color: lime;
  }
}